.ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
}


.ibm-plex-serif-thin-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-serif-extralight-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-serif-semibold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-serif-bold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
}

.ibm-plex-sans-thin {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-sans-extralight {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-sans-light {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-sans-regular {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-sans-medium {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-sans-semibold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-sans-bold {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-sans-thin-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-sans-extralight-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-sans-light-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-sans-regular-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-sans-medium-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-sans-semibold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-sans-bold-italic {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.ibm-plex-serif-thin {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: normal;
}

.ibm-plex-serif-extralight {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: normal;
}

.ibm-plex-serif-light {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: normal;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-serif-medium {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: normal;
}

.ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
}

.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
}

.ibm-plex-serif-thin-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 100;
    font-style: italic;
}

.ibm-plex-serif-extralight-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 200;
    font-style: italic;
}

.ibm-plex-serif-light-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 300;
    font-style: italic;
}

.ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
}

.ibm-plex-serif-medium-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 500;
    font-style: italic;
}

.ibm-plex-serif-semibold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: italic;
}

.ibm-plex-serif-bold-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: italic;
}


header {
    background-color: #613430;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
    resize: 1rem;
}


main,
.nav_estrelas,
.nav_niveis_exercicio {
    background-color: #332b2b;
    border: 0.25rem #b62b1e;
    text-decoration: none;
    flex: 1;
}



h2 {
    display: flex;
    position: relative;
    margin-top: 2rem;
    transform: translateY(-20rem);
}

footer {
    background-color: #8b362e;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
}



footer nav img {
    max-width: 44px;
}

.img_edit {
    position: relative;
    max-width: 7.5%;
    left: 0.1rem;
    top: 0.4rem;
}

li {
    position: relative;
    display: block;
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    

}

.input_adicionar_obj {
    position: relative;
    width: 20%;
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1rem;
    
}

.img_estrela {
    position: relative;
    height: 50%;
    overflow: hidden;
    left:15%
}

.img_exercicio {
    width: 100%;
    padding-top: 2rem;
}

.img_voltar_niveis {
    position: absolute;
    height: 4%;
    margin-top: -1.9%;
}

.p_info {
    display: flex;
    justify-content: center;
}

.main_tp{
    display: flex; 
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin-left: 27%;
    margin-top: 15%;
}

.img_corpo{
    position: relative;
    left: 5rem;
    transform: scale(0.5);
    transform-origin: top left;
    margin: 0 -5.5rem;
}

footer {
    display: flex;
    background-color: #8b362e;
    overflow: hidden;
    width: 100%;
    
}

footer nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.main_index,.main_objetivos,.main_tp{
    height: 100vh;
}

header img{
    height: 25vh;
}

.nav_niveis_exercicio{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav_niveis_img_nivel_estrela{
    height: 17.5vh;

}
.nav_niveis_exercicio a {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
}
.nav_niveis_exercicio p{
    padding-top: 1rem;
}

.main_tp{
    padding-top: 3rem;
}

progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #12182b;
    border-radius:3px;
    height: 25px;
    width: 80%;
    background-color: #332b2b;
    border-radius: 3px;
    position: relative;
    left: 3%;
    top: 0.75%
  }
  
  progress[value]::-moz-progress-bar {
      background-image:
      -moz-linear-gradient( 0deg, #332b2b 95%, #332b2b);
  }
  progress[value]::-webkit-progress-bar {
      background-image:
      -webkit-linear-gradient( 0deg,#332b2b 95%, #332b2b);
  }  

.main_button{
    position: relative;
    left: 3%;
}


.header_peito{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-size: 1.5rem;
    color: #f7f7f7;
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 0.5rem;
}

.img_voltar {
    display: flex;
    position: absolute;
    height: 3vh;
    align-self: flex-start;
}

.nivel-estrela{
    transform: scale(0.4);
    transform-origin: top ;
}

.header_nivel{
    height: 10vh;
}

.ibm-plex-sans-bold-branca {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}


.img_play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding-bottom: 0.3rem;
}

.container2{
    margin-left: 7%;
    padding-top: 3%;
}